* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lilita One", cursive;
    font-size: 16px;
    background-color: #1b2130;
}

.contenedor {
    width: 90%;
    margin: auto;
    padding: 2em 0em;
}

.mensaje {
    width: 100%;
    font-size: 0.75em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    color: white;
}

.cartas-contenedor {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1em;
    background-color: #00000021;
    border-radius: 9px;
}

.swiper-container {
    padding-bottom: 2em;
}

.swiper-pagination-bullet {
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 0.95em;
}

.carta {
    position: relative;
    height: 320px;
    width: 240px;
    margin: 2em;
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin: 2em auto;
    cursor: pointer;
}
.carta .carta__cara {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 7px solid #1f1f1f;
}
.carta .carta__cara_delantera {
    z-index: 0;
    transition: 0.5s ease-in-out;
}
.carta .carta__cara_delantera .carta__cantidad-elixir {
    position: absolute;
    top: -9px;
    left: -9px;
    height: 2px;
    width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    line-height: 0;
    z-index: 9999;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    border: 3px solid #ab1a94;
    box-shadow: 2px 2px 4px #a62da4f0;
    background-color: #bb13b9;
}
.carta .carta__cara_delantera .carta__cantidad-elixir:hover {
    filter: brightness(90%);
}
.carta .carta__cara_delantera .carta__contenido-delantero {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
    border: 7px solid #f0ecec1c;
    border-radius: 9px;
    color: white;
    background: radial-gradient(circle, #202126 0%, #1d3567 47%, #151a1f 100%);
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.carta .carta__cara_delantera .carta__contenido-delantero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background: #202126;
    z-index: 2;
    opacity: 0;
    background: radial-gradient(circle, #202126 0%, #2b4781 47%, rgba(21, 26, 31, 0.959) 100%);
    transition: opacity 0.5s ease-out;
}
.carta .carta__cara_delantera .carta__contenido-delantero:hover::after {
opacity: 1;
}
.carta .carta__cara_delantera .carta__contenido-delantero .carta__ilustracion {
    width: 100%;
    position: absolute;
    z-index: 3;
    transition: 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.carta .carta__cara_delantera .carta__contenido-delantero .carta__nivel {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 0.2em 0em;
    margin: 0;
    text-align: center;
    letter-spacing: 1.4px;
    font-size: 1.6em;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.582) 2px 3px;
}
.carta .carta__cara_trasera {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    padding: 1.7em;
    font-size: 0.75em;
    text-align: center;
    font-family: "Verdana";
    color: white;
    background: radial-gradient(circle, #202126 0%, #243453 47%, rgba(21, 26, 31, 0.959) 100%);
    transition: 0.6s ease-in-out;
}
.carta .carta__cara_trasera .carta__nombre-personaje {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    color: #f8e5a6;
}
.carta .carta__cara_trasera .carta__descripcion {
    margin-top: 0.5em;
    font-size: 0.95em;
}
.carta .carta__cara_trasera .carta__icono-clash {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
}
.carta:hover {
    transform: scale(1.045);
}
.carta:hover .carta__cara_delantera .carta__ilustracion {
    transform: scale(1.1);
}

.carta_comun .carta__cara_delantera .carta__ilustracion {
    bottom: 30px;
}
.carta_comun .carta__cara_delantera .carta__nivel {
    background-color: rgba(0, 0, 0, 0.486);
    color: #9ddcfa;
}

.carta_especial .carta__cara {
    animation: resplandor_carta_especial 1.8s ease-in-out infinite;
}
.carta_especial .carta__cara_delantera .carta__ilustracion {
    bottom: -20px;
}
.carta_especial .carta__cara_delantera .carta__nivel {
    background-color: #ee8523e8;
    color: #f8e5a6;
}

.carta_epica .carta__cara {
    animation: resplandor_carta_epica 1.8s ease-in-out infinite;
}
.carta_epica .carta__cara_delantera .carta__ilustracion {
    bottom: 30px;
}
.carta_epica .carta__cara_delantera .carta__nivel {
    background-color: #a62da4bc;
    color: #fd89cf;
}

.carta_legendaria {
    height: 325px;
    border: 0;
}
.carta_legendaria .carta__cara {
    border: 0;
}
.carta_legendaria .carta__borde,
.carta_legendaria .carta__contenido-delantero,
.carta_legendaria .carta__cara_trasera,
.carta_legendaria .carta__contenido-trasero {
    clip-path: polygon(50% 0%, 100% 10%, 100% 50%, 100% 90%, 50% 100%, 0% 90%, 0% 50%, 0% 10%);
    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 50%, 100% 90%, 50% 100%, 0% 90%, 0% 50%, 0% 10%);
}
.carta_legendaria .carta__borde,
.carta_legendaria .carta__nivel span::before, .force_color::before, .text-tipo-legedaria::before {
    animation: resplandor_carta_legendaria 5s ease-in-out infinite;
}
.carta_legendaria .carta__borde {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #e81dd7, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 600% 600%;
}
.carta_legendaria .carta__cara_delantera .carta__cantidad-elixir {
    top: 10px;
}
.carta_legendaria .carta__cara_delantera .carta__contenido-delantero {
    position: absolute;
    width: 97%;
    height: 97%;
    top: 50%;
    left: 50%;
    border: 0;
    transform: translate(-50%, -50%);
}
.carta_legendaria .carta__cara_delantera .carta__contenido-delantero .carta__ilustracion {
    bottom: 70px;
    animation: animacion_ilustracion_carta_legendaria 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
.carta_legendaria .carta__cara_delantera .carta__contenido-delantero .carta__nivel, .force_color, .text-tipo-legedaria {
    background-color: #7ce5f6;
    color: #ee449c;
    text-shadow: rgba(0, 0, 0, 0.17) 2px 2px;
    padding-bottom: 0.5em;
}
.carta_legendaria .carta__cara_delantera .carta__contenido-delantero .carta__nivel span, .force_color, .text-tipo-legedaria {
    position: relative;
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
}
.carta_legendaria .carta__cara_delantera .carta__contenido-delantero .carta__nivel span::before, .force_color::before, .text-tipo-legedaria::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mix-blend-mode: screen;
    background: linear-gradient(to right, #37f39b, #fad154, #f4a2aa, #fc6eaf, #ff53fc);
    background-size: 300% 400%;
    pointer-events: none;
}
.carta_legendaria .carta__cara_trasera {
    padding: 0;
    position: relative;
}
.carta_legendaria .carta__cara_trasera .carta__contenido-trasero {
    height: 97%;
    width: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6em 1em;
    background: radial-gradient(circle, #202126 0%, #243453 47%, rgba(21, 26, 31, 0.959) 100%);
}

.carta.vuelta .carta__cara_delantera {
    z-index: 0;
    transform: rotateY(180deg);
}
.carta.vuelta .carta__cara_trasera {
    transform: rotateY(0deg);
}

@media (max-width: 575px) {
    .cartas-contenedor {
        transform: scale(0.9);
    }
}
@keyframes resplandor_carta_especial {
    0% {
        box-shadow: 1px 1px 6px 6px #ee8523f0;
    }
    50% {
        box-shadow: 1px 1px 6px 6px #f1af59f0;
    }
    100% {
        box-shadow: 1px 1px 6px 6px #ee8523f0;
    }
}
@keyframes resplandor_carta_epica {
    0% {
        box-shadow: 1px 1px 6px 6px rgba(166, 45, 164, 0.918);
    }
    50% {
        box-shadow: 1px 1px 6px 6px rgba(216, 101, 214, 0.918);
    }
    100% {
        box-shadow: 1px 1px 6px 6px rgba(166, 45, 164, 0.918);
}
}
@keyframes resplandor_carta_legendaria {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@keyframes animacion_ilustracion_carta_legendaria {
    0% {
        bottom: 70px;
    }
    50% {
        bottom: 80px;
    }
    100% {
        bottom: 70px;
    }
}

.repain {
    height: 100%;
    top: 0%;
}
.card_repain {
    width: 100px;
    height: 150px;
    font-size: 15px;
}
.repain-text {
    font-size: 10px;
}

